@font-face {
    font-family: BebasNeue-Regular;
    src: url("./../fonts/BebasNeue-Regular.ttf");
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: BebasNeue-Regular;
    overflow-x: hidden;
}

.menu-bar {
    background-color: white;
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

* {
    padding: 0;
    margin: 0;
}

.menu-bar ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.menu-bar ul li {
    width: 125px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    float: left;
    position: relative;
}

.menu-bar ul li a {
    text-decoration: none;
    color: grey;
    display: block;
}

.menu-bar .fullstop {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #53a2db;
    position: absolute;
    top: 22px;
    left: 120px;
}

.label {
    font-size: 30px;
    color: #303030;
    font-weight: 800;
    font-family: Open Sans;
    text-align: center;
}

.mybutton button {
    margin: 10px 15px;
    border-radius: 20px;
}

section.headings {
    color: white;
}

section .fullstop {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    left: 420px;
    top: 10px;
}

h1 {
    font-size: 100px;
    font-weight: 800;
}

h2 {
    font-size: 54px;
}

h3 {
    font-size: 34px;
}

h1,
h2,
h3 {
    color: #ffffff;
    left: 100px;
    top: 50px;
}

h1,
h2 {
    filter: drop-shadow(2.5px 4.33px 0px rgba(10, 12, 12, 0.1));
}

h2,
h3 {
    font-weight: 400;
}

section .line {
    width: 244px;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 360px;
    left: 100px;
}

.headings a {
    position: relative;
    top: 68px;
    text-decoration: none;
    left: 100px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    font-family: Open Sans;
    filter: drop-shadow(1.5px 2.598px 0px rgba(10, 12, 12, 0.1));
}

section .style {
    width: 220px;
    height: 98px;
    font-size: 13px;
    line-height: 18px;
    color: #707070;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

footer .footer {
    width: 100%;
    height: 40px;
    background-color: #d8d8d8;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer p {
    font-size: 15px;
    line-height: 22px;
    color: #737373;
    font-weight: 400;
}

.menu-bar .current {
    color: black;
    font-weight: 600;
}

.introduction {
    position: absolute;
    top: 40%;
    left: 66%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: xx-large;
    color: whitesmoke;
}

#heroImage {
    background-image: url(../images/heroimage.jpeg);
    background-size: cover;
    display: flex;
    background-position: center;
    height: 650px;
    flex-direction: row;
    flex-wrap: wrap;
}

#heroImage p {
    position: absolute;
    top: 50%;
    left: 49%;
    text-align: left;
    color: #ffffff;
    line-height: 25px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#my-container {
    width: 200px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.fh5co-blog {
    margin-bottom: 175px;
}

.fh5co-blog .universal-h2,
#destination .universal-h2 {
    margin: 55px;
    padding-bottom: 20px;
    text-align: center;
    color: #53a2db;
}

@media (max-width: 620px) {
    .fh5co-blog {
        margin-bottom: 105px;
    }
}

.blog-inner {
    justify-content: space-between;
}

.single-blog {
    display: flex !important;
    width: 100%;
}

.single-blog .single-blog__img {
    width: 50%;
    font-size: 0;
}

.single-blog .single-blog__text {
    padding: 2%;
    border: 3px solid #f5f5f5;
    border-left: 0;
}

.single-blog .single-blog__text h4 {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 33px;
}

.single-blog .single-blog__text span {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: #c18f59;
    font-family: "Calisto-MT-Bold";
}

.single-blog .single-blog__text p {
    color: #777;
    line-height: 21px;
}

@media (max-width: 992px) {
    .single-blog .single-blog__text {
        padding: 5%;
    }
    .single-blog .single-blog__text h4 {
        margin-bottom: 3px;
        font-size: 20px;
        line-height: 24px;
    }
    .single-blog .single-blog__text p {
        font-size: 14px;
        line-height: 19px;
    }
}

@media (max-width: 420px) {
    .single-blog .single-blog__text {
        padding: 3%;
    }
    .single-blog .single-blog__text h4 {
        font-size: 16px;
    }
    .single-blog .single-blog__text span {
        margin-bottom: 7px;
        font-size: 12px;
    }
    .single-blog .single-blog__text p {
        font-size: 13px;
        line-height: 16px;
    }
}

.single-blog:nth-child(even) h4 {
    color: #c18f59;
}

@media (max-width: 1250px) {
    .single-blog .single-blog__img img {
        width: 100%;
        height: 100%;
    }
}


/* hotel section css*/

figure {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 20px 20px 0;
}

figcaption {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px 20px;
    opacity: 0;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

figure:hover figcaption {
    opacity: 1;
}

figure:before {
    content: "?";
    position: absolute;
    font-weight: 800;
    background: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 5px white;
    color: black;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    transition: all 0.6s ease;
    opacity: 0.75;
}

figure:hover:before {
    opacity: 0;
}

.cap-left:before {
    bottom: 10px;
    left: 10px;
}

.cap-left figcaption {
    bottom: 0;
    left: -30%;
}

.cap-left:hover figcaption {
    left: 0;
}

.cap-right:before {
    bottom: 10px;
    right: 10px;
}

.cap-right figcaption {
    bottom: 0;
    right: -30%;
}

.cap-right:hover figcaption {
    right: 0;
}

.cap-top:before {
    top: 10px;
    left: 10px;
}

.cap-top figcaption {
    left: 0;
    top: -30%;
}

.cap-top:hover figcaption {
    top: 0;
}

.cap-bot:before {
    bottom: 10px;
    left: 10px;
    margin: 0px;
}

.cap-bot figcaption {
    left: 0;
    bottom: -30%;
}

.cap-bot:hover figcaption {
    bottom: 0;
}

.figure-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}


/* hotel section css end */

.fh5co-social {
    position: relative;
    padding: 63px 0;
    background-image: url("../images/social-bckg.jpg");
    background-size: cover;
    background-position: center;
}

.fh5co-social::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c18f59;
    opacity: 0.9;
}

.fh5co-social .site-container {
    position: relative;
    z-index: 1;
}

@media (max-width: 620px) {
    .fh5co-social {
        padding: 40px 0;
    }
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social h5 {
    font-size: 24px;
    color: #fff;
}

@media (max-width: 620px) {
    .social {
        flex-direction: column;
    }
}

.social-icons a {
    position: relative;
    border: 1px solid white;
    border-radius: 50%;
    padding: 13px 23px;
    margin-right: 10px;
    transition: 0.3s ease;
}

.social-icons a:hover {
    background-color: rgb(54, 133, 129);
    border-color: transparent;
}

.social-icons img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 620px) {
    .social-icons {
        margin: 35px 0;
    }
}

.site-footer {
    padding-top: 120px;
    background-color: #90e4d7
}

@media (max-width: 1250px) {
    .site-footer {
        padding-top: 60px;
    }
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 95px;
}

.footer-inner h5 {
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
}

@media (max-width: 1250px) {
    .footer-inner {
        padding-bottom: 50px;
        flex-direction: column;
    }
}

.footer-info {
    width: 50%;
    display: flex;
}

.footer-info .footer-info__left {
    margin-right: 45px;
}

.footer-info .footer-info__left img {
    margin-bottom: 10px;
}

.footer-info .footer-info__left p {
    color: lightskyblue;
}

@media (max-width: 620px) {
    .footer-info .footer-info__left {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.footer-info .footer-info__right p {
    margin-bottom: 15px;
    color: #aaa;
}

.footer-info .footer-info__right .footer-phone {
    font-size: 14px;
}

.footer-info .footer-info__right .social-icons {
    margin-top: 27px;
}

.footer-info .footer-info__right .social-icons a {
    padding: 9px 19px;
}

@media (max-width: 1250px) {
    .footer-info {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 620px) {
    .footer-info {
        flex-direction: column;
        align-items: center;
    }
}

.footer-contact-form {
    width: 50%;
}

.footer-contact-form .contact-form__input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-contact-form .contact-form__input input {
    width: 40%;
    padding: 20px;
    border: 1px solid white;
    background-color: white;
    color: #c18f59;
}

.footer-contact-form .contact-form__input input::placeholder {
    color: #aaa;
}

@media (max-width: 1250px) {
    .footer-contact-form .contact-form__input input {
        width: 45%;
    }
}

@media (max-width: 520px) {
    .footer-contact-form .contact-form__input input {
        width: 100%;
    }
}

.footer-contact-form textarea {
    box-sizing: border-box;
    height: 90px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid white;
    background-color: white;
    resize: none;
    color: #c18f59;
}

.footer-contact-form .submit-button {
    padding: 19px 50px;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    background-color: rgb(54, 133, 129);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer-contact-form .submit-button:hover {
    background-color: rgb(184, 247, 233);
}

.footer-bottom {
    padding: 25px 0;
    background-color: rgb(203, 250, 240);
}

.footer-bottom-inner {
    display: flex;
    justify-content: space-between;
}

.footer-bottom-inner p {
    color: rgb(54, 133, 129);
}

.footer-bottom-inner a {
    color: #c18f59;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-bottom-inner a:hover {
    color: rgb(54, 133, 129);
}

.footer-bottom-inner .footer-bottom__img img {
    margin-right: 25px;
}

.footer-bottom-inner .footer-bottom__img img:last-child {
    margin-right: 0;
}

@media (max-width: 992px) {
    .footer-bottom-inner {
        flex-direction: column;
        align-items: center;
    }
    .footer-bottom-inner p {
        font-size: 14px;
        margin-bottom: 20px;
    }
}